{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}

    {% if app.user %}
    <div class="d-flex justify-content-center">
        <a href="{{ path('event_new') }}" class="btn btn-info">Create an event</a>
    </div>
    <div class="d-flex justify-content-center">
        <a href="{{ path('event_index') }}" class="btn btn-info">Voir les événements à venir</a>
    </div>
    {% else %}
    <div class="d-flex justify-content-center">
        <a href="{{ path('event_index') }}" class="btn btn-info">Voir les événements à venir</a>
    </div>
    {% endif %}

{% endblock %}
